<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiidc.sps.ep.mapper.EquipmentTypeMapper">
  <resultMap id="BaseResultMap" type="com.aiidc.sps.ep.entity.EquipmentType">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="EQUIPMENT_NAME" jdbcType="VARCHAR" property="equipmentName" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, EQUIPMENT_NAME
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from RW_EQUIPMENT_TYPE
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from RW_EQUIPMENT_TYPE
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.aiidc.sps.ep.entity.EquipmentType">
    insert into RW_EQUIPMENT_TYPE (ID, EQUIPMENT_NAME)
    values (#{id,jdbcType=VARCHAR}, #{equipmentName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.aiidc.sps.ep.entity.EquipmentType">
    insert into RW_EQUIPMENT_TYPE
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="equipmentName != null">
        EQUIPMENT_NAME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="equipmentName != null">
        #{equipmentName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.aiidc.sps.ep.entity.EquipmentType">
    update RW_EQUIPMENT_TYPE
    <set>
      <if test="equipmentName != null">
        EQUIPMENT_NAME = #{equipmentName,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.aiidc.sps.ep.entity.EquipmentType">
    update RW_EQUIPMENT_TYPE
    set EQUIPMENT_NAME = #{equipmentName,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>