<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiidc.sps.ep.mapper.RainwaterMonitorDataMapper">
  <resultMap id="BaseResultMap" type="com.aiidc.sps.ep.entity.RainwaterMonitorData">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="RainwaterID" jdbcType="VARCHAR" property="rainwaterid" />
    <result column="FactorID" jdbcType="VARCHAR" property="factorid" />
    <result column="Time" jdbcType="TIMESTAMP" property="time" />
    <result column="FactorValue" jdbcType="NUMERIC" property="factorvalue" />
    <result column="Factor_Flag" jdbcType="VARCHAR" property="factorFlag" />
    <result column="Remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, RainwaterID, FactorID, Time, FactorValue, Factor_Flag, Remark
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ESER_RAINWATER_MONITORDATA
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from ESER_RAINWATER_MONITORDATA
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.aiidc.sps.ep.entity.RainwaterMonitorData">
    insert into ESER_RAINWATER_MONITORDATA (ID, RainwaterID, FactorID, 
      Time, FactorValue, Factor_Flag, 
      Remark)
    values (#{id,jdbcType=VARCHAR}, #{rainwaterid,jdbcType=VARCHAR}, #{factorid,jdbcType=VARCHAR}, 
      #{time,jdbcType=TIMESTAMP}, #{factorvalue,jdbcType=NUMERIC}, #{factorFlag,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.aiidc.sps.ep.entity.RainwaterMonitorData">
    insert into ESER_RAINWATER_MONITORDATA
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="rainwaterid != null">
        RainwaterID,
      </if>
      <if test="factorid != null">
        FactorID,
      </if>
      <if test="time != null">
        Time,
      </if>
      <if test="factorvalue != null">
        FactorValue,
      </if>
      <if test="factorFlag != null">
        Factor_Flag,
      </if>
      <if test="remark != null">
        Remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="rainwaterid != null">
        #{rainwaterid,jdbcType=VARCHAR},
      </if>
      <if test="factorid != null">
        #{factorid,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="factorvalue != null">
        #{factorvalue,jdbcType=NUMERIC},
      </if>
      <if test="factorFlag != null">
        #{factorFlag,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.aiidc.sps.ep.entity.RainwaterMonitorData">
    update ESER_RAINWATER_MONITORDATA
    <set>
      <if test="rainwaterid != null">
        RainwaterID = #{rainwaterid,jdbcType=VARCHAR},
      </if>
      <if test="factorid != null">
        FactorID = #{factorid,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        Time = #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="factorvalue != null">
        FactorValue = #{factorvalue,jdbcType=NUMERIC},
      </if>
      <if test="factorFlag != null">
        Factor_Flag = #{factorFlag,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        Remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.aiidc.sps.ep.entity.RainwaterMonitorData">
    update ESER_RAINWATER_MONITORDATA
    set RainwaterID = #{rainwaterid,jdbcType=VARCHAR},
      FactorID = #{factorid,jdbcType=VARCHAR},
      Time = #{time,jdbcType=TIMESTAMP},
      FactorValue = #{factorvalue,jdbcType=NUMERIC},
      Factor_Flag = #{factorFlag,jdbcType=VARCHAR},
      Remark = #{remark,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>