<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiidc.sps.ep.mapper.SewageConfigurationMapper">
  <resultMap id="BaseResultMap" type="com.aiidc.sps.ep.entity.SewageConfiguration">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="Name" jdbcType="VARCHAR" property="name" />
    <result column="ENTID" jdbcType="NUMERIC" property="entid" />
    <result column="LAT" jdbcType="NUMERIC" property="lat" />
    <result column="LNG" jdbcType="NUMERIC" property="lng" />
    <result column="FK_PDCODE" jdbcType="VARCHAR" property="fkPdcode" />
    <result column="FK_PRCODE" jdbcType="VARCHAR" property="fkPrcode" />
    <result column="FK_ABCODE" jdbcType="VARCHAR" property="fkAbcode" />
    <result column="FK_WFCODE" jdbcType="VARCHAR" property="fkWfcode" />
    <result column="FBITDC" jdbcType="CHAR" property="fbitdc" />
    <result column="FK_DCCODE" jdbcType="VARCHAR" property="fkDccode" />
    <result column="PORTNO" jdbcType="VARCHAR" property="portno" />
    <result column="PORTPOS" jdbcType="VARCHAR" property="portpos" />
    <result column="WRYJLSYZXJL" jdbcType="NUMERIC" property="wryjlsyzxjl" />
    <result column="Remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  
  <resultMap id="PositionResultMap" type="com.aiidc.sps.ep.entity.EquipmentPostion">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="Name" jdbcType="VARCHAR" property="name" />
     <result column="TYPE" jdbcType="INTEGER" property="type" />
    <result column="LAT" jdbcType="NUMERIC" property="lat" />
    <result column="LNG" jdbcType="NUMERIC" property="lng" />
    <result column="positionOrder" jdbcType="INTEGER" property="positonOrder" />
    <result column="ENTID" jdbcType="INTEGER" property="ENTID" />
  </resultMap> 
  
   <select id="selectByParam" parameterType="com.aiidc.sps.ep.entity.EquipmentPositionParam" resultMap="PositionResultMap">
  		select * from(
		select rownum rn,ID,"Name",ENTID，LAT,LNG,3 as positionOrder  
  		from ESER_SEWAGE_CONFIGURATION
  		<where>
  			<if test="name != null">
  				and "Name" LIKE '%' || #{name} || '%'
  			</if>
  		</where>
  		)
  	 <where>
  	 	 <if test="start !=null and end != null">
  	 	      rn between #{start} and #{end}
  	 	 </if>
  	 </where>
  </select>
  <select id="selectCount" resultType="int" parameterType="com.aiidc.sps.ep.entity.EquipmentPositionParam">
  		select count(*) from ESER_SEWAGE_CONFIGURATION
  	  	<where>
   			<if test="name != null">
  				and "Name" LIKE '%' || #{name} || '%'
  			</if>
  		</where>
  </select>
  
  <sql id="Base_Column_List">
    ID, Name, ENTID, LAT, LNG, FK_PDCODE, FK_PRCODE, FK_ABCODE, FK_WFCODE, FBITDC, FK_DCCODE, 
    PORTNO, PORTPOS, WRYJLSYZXJL, Remark
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ESER_SEWAGE_CONFIGURATION
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from ESER_SEWAGE_CONFIGURATION
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.aiidc.sps.ep.entity.SewageConfiguration">
    insert into ESER_SEWAGE_CONFIGURATION (ID, Name, ENTID, 
      LAT, LNG, FK_PDCODE, 
      FK_PRCODE, FK_ABCODE, FK_WFCODE, 
      FBITDC, FK_DCCODE, PORTNO, 
      PORTPOS, WRYJLSYZXJL, Remark
      )
    values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{entid,jdbcType=NUMERIC}, 
      #{lat,jdbcType=NUMERIC}, #{lng,jdbcType=NUMERIC}, #{fkPdcode,jdbcType=VARCHAR}, 
      #{fkPrcode,jdbcType=VARCHAR}, #{fkAbcode,jdbcType=VARCHAR}, #{fkWfcode,jdbcType=VARCHAR}, 
      #{fbitdc,jdbcType=CHAR}, #{fkDccode,jdbcType=VARCHAR}, #{portno,jdbcType=VARCHAR}, 
      #{portpos,jdbcType=VARCHAR}, #{wryjlsyzxjl,jdbcType=NUMERIC}, #{remark,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.aiidc.sps.ep.entity.SewageConfiguration">
    insert into ESER_SEWAGE_CONFIGURATION
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="name != null">
        Name,
      </if>
      <if test="entid != null">
        ENTID,
      </if>
      <if test="lat != null">
        LAT,
      </if>
      <if test="lng != null">
        LNG,
      </if>
      <if test="fkPdcode != null">
        FK_PDCODE,
      </if>
      <if test="fkPrcode != null">
        FK_PRCODE,
      </if>
      <if test="fkAbcode != null">
        FK_ABCODE,
      </if>
      <if test="fkWfcode != null">
        FK_WFCODE,
      </if>
      <if test="fbitdc != null">
        FBITDC,
      </if>
      <if test="fkDccode != null">
        FK_DCCODE,
      </if>
      <if test="portno != null">
        PORTNO,
      </if>
      <if test="portpos != null">
        PORTPOS,
      </if>
      <if test="wryjlsyzxjl != null">
        WRYJLSYZXJL,
      </if>
      <if test="remark != null">
        Remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="entid != null">
        #{entid,jdbcType=NUMERIC},
      </if>
      <if test="lat != null">
        #{lat,jdbcType=NUMERIC},
      </if>
      <if test="lng != null">
        #{lng,jdbcType=NUMERIC},
      </if>
      <if test="fkPdcode != null">
        #{fkPdcode,jdbcType=VARCHAR},
      </if>
      <if test="fkPrcode != null">
        #{fkPrcode,jdbcType=VARCHAR},
      </if>
      <if test="fkAbcode != null">
        #{fkAbcode,jdbcType=VARCHAR},
      </if>
      <if test="fkWfcode != null">
        #{fkWfcode,jdbcType=VARCHAR},
      </if>
      <if test="fbitdc != null">
        #{fbitdc,jdbcType=CHAR},
      </if>
      <if test="fkDccode != null">
        #{fkDccode,jdbcType=VARCHAR},
      </if>
      <if test="portno != null">
        #{portno,jdbcType=VARCHAR},
      </if>
      <if test="portpos != null">
        #{portpos,jdbcType=VARCHAR},
      </if>
      <if test="wryjlsyzxjl != null">
        #{wryjlsyzxjl,jdbcType=NUMERIC},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.aiidc.sps.ep.entity.SewageConfiguration">
    update ESER_SEWAGE_CONFIGURATION
    <set>
      <if test="name != null">
        Name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="entid != null">
        ENTID = #{entid,jdbcType=NUMERIC},
      </if>
      <if test="lat != null">
        LAT = #{lat,jdbcType=NUMERIC},
      </if>
      <if test="lng != null">
        LNG = #{lng,jdbcType=NUMERIC},
      </if>
      <if test="fkPdcode != null">
        FK_PDCODE = #{fkPdcode,jdbcType=VARCHAR},
      </if>
      <if test="fkPrcode != null">
        FK_PRCODE = #{fkPrcode,jdbcType=VARCHAR},
      </if>
      <if test="fkAbcode != null">
        FK_ABCODE = #{fkAbcode,jdbcType=VARCHAR},
      </if>
      <if test="fkWfcode != null">
        FK_WFCODE = #{fkWfcode,jdbcType=VARCHAR},
      </if>
      <if test="fbitdc != null">
        FBITDC = #{fbitdc,jdbcType=CHAR},
      </if>
      <if test="fkDccode != null">
        FK_DCCODE = #{fkDccode,jdbcType=VARCHAR},
      </if>
      <if test="portno != null">
        PORTNO = #{portno,jdbcType=VARCHAR},
      </if>
      <if test="portpos != null">
        PORTPOS = #{portpos,jdbcType=VARCHAR},
      </if>
      <if test="wryjlsyzxjl != null">
        WRYJLSYZXJL = #{wryjlsyzxjl,jdbcType=NUMERIC},
      </if>
      <if test="remark != null">
        Remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.aiidc.sps.ep.entity.SewageConfiguration">
    update ESER_SEWAGE_CONFIGURATION
    set Name = #{name,jdbcType=VARCHAR},
      ENTID = #{entid,jdbcType=NUMERIC},
      LAT = #{lat,jdbcType=NUMERIC},
      LNG = #{lng,jdbcType=NUMERIC},
      FK_PDCODE = #{fkPdcode,jdbcType=VARCHAR},
      FK_PRCODE = #{fkPrcode,jdbcType=VARCHAR},
      FK_ABCODE = #{fkAbcode,jdbcType=VARCHAR},
      FK_WFCODE = #{fkWfcode,jdbcType=VARCHAR},
      FBITDC = #{fbitdc,jdbcType=CHAR},
      FK_DCCODE = #{fkDccode,jdbcType=VARCHAR},
      PORTNO = #{portno,jdbcType=VARCHAR},
      PORTPOS = #{portpos,jdbcType=VARCHAR},
      WRYJLSYZXJL = #{wryjlsyzxjl,jdbcType=NUMERIC},
      Remark = #{remark,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>