<?xml version="1.0" encoding="UTF-8"?>
<beans
        xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:tx="http://www.springframework.org/schema/tx"

        xsi:schemaLocation="
    	http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
       	http://www.springframework.org/schema/tx
       	http://www.springframework.org/schema/tx/spring-tx.xsd">


    <bean id="dataSource" name="dataSource"
          class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="oracle.jdbc.driver.OracleDriver"/>
        <property name="url" value="jdbc:oracle:thin:@192.168.1.208:1521:orcl"/>

        <property name="username" value="spsuser"/>
        <property name="password" value="spsuser"/>

    </bean>

	<!-- 配置mybatis session工厂 -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
	   <property name="dataSource" ref="dataSource" />
	   <!-- <property name="configLocation" value="WEB-INF/spring/mybatis-config.xml" />
	   <property name="typeAliasesPackage" value="com.aiidc.sps.ep.entity"/> -->
	   <property name="mapperLocations" value="classpath:com/aiidc/sps/ep/mapper/*.xml"></property>
	</bean>

    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.aiidc.sps.ep.mapper"/>
        <!-- <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/> -->
      
    </bean>

    <tx:annotation-driven transaction-manager="transactionManager"/>
</beans>